<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.kardusinfo.amikomup">

    <uses-permission android:name="android.permission.INTERNET" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".view.activities.KalenderActivity"></activity>
        <activity android:name=".view.firstrun.FirstRunActivity" />
        <activity android:name=".view.firstrun.ResetPasswordActivity" />
        <activity android:name=".view.schedule.ScheduleActivity" />
        <activity android:name=".view.dashboard.DashboardDosenActivity" />
        <activity android:name=".BimbinganUp" />
        <activity android:name=".StatusBimbinganActivity" />
        <activity android:name=".view.dashboard.DashboardCandra" />
        <activity android:name=".view.activities.MainActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".view.activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.firstrun.RegisterActivity" />
        <activity android:name=".view.firstrun.LoginActivity" />
        <activity android:name=".view.activities.WelcomeActivity" />
        <activity android:name=".view.bimbingan.BimbinganActivity" />
        <activity android:name=".view.bimbingan.DetailBahasanActivity" />
    </application>

</manifest>